# Ignore everything
*

# Don't ignore these files
!.gitignore
!*.c
!*.h
!*.qsys
!*.vhd
!*.tcl
!*.bmp
!Exercises/*
!software/*
!SlaveSystem/*.vhd
!SlaveSystem/*.tcl
!SlaveSystem/*.c
!SlaveSystem/*.h
!sprites/*.bmp
